.AboutMe h2{
    font-family: Lato-Thin;
    margin-top: 7px;
}

.AboutMe-text{
    padding-left: 10px;
    border-left: solid 4px #4fccbbba;
    margin-bottom: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.AboutMe-text p{
    text-align: left;
    font-family: Lato-Light;
}

ul
{
    list-style-type: square;
    padding-left: 16px;
}

ul > li
{
    color: #4fccbbba;
    text-align: left;
}

img{
    display: block;
    /*height: 12vw;*/
    width: 12vw;
    object-fit: scale-down;

    -webkit-box-shadow: 10px 10px 53px -1px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 53px -1px rgba(0,0,0,0.29);
    box-shadow: 10px 10px 53px -1px rgba(0,0,0,0.29);
}

@media (max-width : 768px) {
    img{
        width: 24vw;
    }
}

/*ul > li > span
{
    color: black;
    font-family: Lato-Light;
}*/

/*Animation*/

.aboutme-enter {
    opacity: 0.01;
}

.aboutme-enter.aboutme-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.aboutme-leave {
    opacity: 1;
}

.aboutme-leave.aboutme-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.aboutme-appear {
    opacity: 0.01;
}

.aboutme-appear.aboutme-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}