/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    height: unset !important;
}

/* Individual item */
.bm-item {
    display: inline-block;
    color: gainsboro;
    margin: 5px 0;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}


/*
 cool color: #7d95f9;
*/

.App {
    text-align: center;
    display: grid;
    grid-template-columns: 180px auto;
    grid-template-rows: 100vh;
    grid-template-areas: "menu content";
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    grid-area: menu;
    /*background-color: #43444e21;*/
    padding: 25px;
    color: black;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.App-content {
    grid-area: content;
    padding: 30px;
    overflow: auto;
}

.App-content-mock {
    background-color: grey;
    border: 2px dashed black;
}

.App-title {
    font-size: 1.5em;
    margin: 0;
    text-align: left;
    line-height: 1.2;
    display: block;
    font-family: Lato-Bold;
}

.App-title:hover {
    box-shadow: none;
}

.App-title-menu {
    text-align: center;
    line-height: 2;
}

.App-intro {
    font-size: large;
}

.App-list {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 0;
}

.App-header footer p {
    font-family: Lato-Thin;
    font-size: 14px;
}

a {
    color: black; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-weight: bolder;
    line-height: 2;
    padding-right: 5px;
    font-family: Lato-Light;
    transition: all 0.3s ease;
}

a.active-link {
    box-shadow: inset 0 -7px 0 0 #4fccbbba;
}

a:hover {
    box-shadow: inset 0 -7px 0 0 #4fccbbba;
}

.App-lang-selector{
    border: none;
    border-radius: 15px;
    background: #8080802b;
    padding: 6px;
    font-family: Lato-Light;
}

.App-lang-selector:hover{
    background: #8080805e;
}


.bm-item-list .App-lang-selector{
    color: #b8b7ad;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1224px) {
    .App {
        /*grid-template-columns: 120px auto;*/
    }
}

@media (max-width: 720px) {
    .App {
        display: block;
    }
}