.Gallery h2{
    font-family: Lato-Light;
    margin-top: 7px;
}

.Gallery-section{
    display: flex;
    flex-flow: column;
}

.Gallery-section > h3{
    font-family: Lato-Thin;
    text-decoration: underline;
    text-align: left;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.cell {
   margin:20px;
    /*-webkit-box-shadow: 10px 10px 53px -1px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 53px -1px rgba(0,0,0,0.29);
    box-shadow: 10px 10px 53px -1px rgba(0,0,0,0.29);*/

    position: relative;
    cursor: pointer;
}

.cell img {
    display: block;
    height: 12vw;
    width: 12vw;
    object-fit: cover;

    -webkit-box-shadow: 10px 10px 53px -1px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 53px -1px rgba(0,0,0,0.29);
    box-shadow: 10px 10px 53px -1px rgba(0,0,0,0.29);

    opacity: 1;
    transition: opacity .5s ease;
    backface-visibility: hidden;
}

.cell .hover-elements{
    opacity: 0;
    position: absolute;
}

.cell .middle{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.cell .top-left{
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    -ms-transform: translate(-10%, -10%);
    text-align: left;
}

.cell .bottom-left{
    top: 90%;
    left: 15%;
    transform: translate(-15%, -90%);
    -ms-transform: translate(-15%, -90%);
    text-align: left;
    font-size: 15px;
    font-family: Lato-Light;
}

.cell:hover img {
    opacity: 0.3;
}

.cell:hover .hover-elements {
    opacity: 1;
}

/*Animation*/

.aboutme-enter {
    opacity: 0.01;
}

.portfolio-enter.portfolio-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.portfolio-leave {
    opacity: 1;
}

.portfolio-leave.portfolio-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.portfolio-appear {
    opacity: 0.01;
}

.portfolio-appear.portfolio-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

@media (max-width : 1224px) {
    .cell img {
        height: 140px;
        width: 140px;
    }
}

@media (max-width : 768px) {
    .cell{
        margin: 15px;

         /*flex: 25%*/
    }

    .cell img {
        height: 130px;
        width: 130px;

         /*width: 100%;
         height: 100%;*/
    }
}

@media (max-width : 420px) {
    .cell{
        margin: 15px;

        /*flex: 25%*/
    }

    .cell img {
        height: 85vw;
        width: 85vw;

        /*width: 100%;
        height: 100%;*/
    }
}